.demo-1-style{
    padding: 1rem;
    background: dodgerblue;
    color: white;
    text-align: center;
    font-weight: bold;
}

.demo-2-style{
    padding: 1rem;
    background: lightgreen;
    text-align: center;
    
}