.demo-1-style{
    padding: 1rem;
    background: dodgerblue;
    color: white;
    text-align: center;
    font-weight: bold;
}

.demo-2-style{
    padding: 1rem;
    background: lightgreen;
    text-align: center;
    
}
.image-content{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 1rem;
}
.image-content .image{
    width: 100%;
    display: block;
    cursor: pointer;
}
.image-content .image.image-style{
    width: 80%;
    height: auto;
    border-radius: 50%;

}